<mat-drawer-container [autosize]="true">
    <mat-drawer mode="side" opened>
        <mat-form-field appearance="fill" class="py-2">
            <mat-label>Item</mat-label>
            <input matInput type="search" [(ngModel)]="searchItem" (change)="getItem()">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput type="search" [(ngModel)]="loc" (change)="getLoc()" id="locInput">
        </mat-form-field>
        <br>
        <div class="align-middle px-4">
            <button mat-icon class=" bg-transparent hover:bg-green-500 py-2 px-4 text-3xl rounded justify-between" (click)="getInput()">
                <mat-icon>search</mat-icon>
                Search
            </button>
            <mat-error>{{error}}</mat-error>
        </div>
    </mat-drawer>
    <mat-drawer-content class="p-6" style="height: 88vh;">
        <app-home></app-home>
    </mat-drawer-content>
</mat-drawer-container>